@import 'core/mixins';
@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';
@import 'components/buttons';
@import 'components/forms';
@import 'components/hero';
@import 'components/typography';
@import 'pages/contact';
@import 'pages/home';





/* css general * * * * * * * * * * * * * * * * */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:300,400&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Rubik', sans-serif;
}

p{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.section-wrapper{
    padding: 0 20px;
}

/* css header * * * * * * * * * * * * * * * * */

.header-container{
    opacity: 0.8;
}

.group-name{
    width: 100%;
    line-height: 60px;
    text-align: center;
    background-color: #099d8d;
    text-transform: uppercase;
    color: white;
}

.group-name h1{
    margin:0;
    font-size: 16px;
}

.nav-header{
    width: 100%;
    height: 45px;
    background-color: #14d9c4;
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-transform: uppercase;
    align-items: center;
    padding: 0 15px;
}

.nav-header a{
    color: white;
}

/* css hero * * * * * * * * * * * * * * * * */

.hero {
    width: 100%;
    height: 467px;
}

.imag {
    width: 100%;
    height: 421px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
}

.rectangle {
    background-color: white;
    height: 90px;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    margin-right: 3%;
    box-sizing: border-box;
    width: 90%;
}

.lema {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.lema:first-child{
    font-style: italic;
}


/* css team * * * * * * * * * * * * * * * * */

.team{
    text-align: center;
}

.team h2{
    color: #14d9c4;
    text-transform: uppercase;
}

.team p{
    font-size: 16px;
    color: #54585a;
    line-height: 1.5;
    margin-bottom: 0px;
}

.diamond{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 0px;
    left: 50%;
    background-color: white;
    transform: translate(-50%,15px) rotate(45deg);
}

/* css strengths/weaknesses * * * * * * * * * * * * * * * * */

.title-sw {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #099d8b;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.strengths-weaknesses {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #dadada52;
    text-align: center;
}

.st-wk-text {
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #54585a;   
    font-size: 16px;
    margin: 0px;
    line-height: 1.5;
}

/* css about * * * * * * * * * * * * * * * * */

.about{
    padding-top: 20px;
}

.figure-center.left.container-web {
    margin: 0 0;
}

/*---Contenedor general---*/

.figure-center {
    text-align: center;
    margin: 0 0;
}

/*---Titulo---*/

.title-about {
    color: #099d8d;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

/*---Perfiles individuales---*/

.photo-personal {
    width: 200px;
    height: 200px;
    border: 4px solid rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    text-align: center;
    margin-top: 4%;
}

.name-description {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: 400;
}

.text-description {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    color: #54585a ;
    margin-left: 4%;
    margin-right: 4%;
    line-height: 1.5;
}

/*---Redes sociales---*/

.social-media {
    max-width: 150px;
    text-align: center;
    margin: 10px auto 30px auto;
}

.signal {
    margin: auto;
    text-align: center;
    display: inline;
}

.fas,.fab {
    display: inline;
    font-family: "Font Awesome 5 Pro";
    font-size: 20px;
    color: #099d8d;
    cursor: pointer;
    text-align: center;
    margin: 0 4px;
}

.fa-twitter:hover {
    opacity: 0.7;
}
.fa-linkedin-in:hover {
    opacity: 0.7;
}
.fa-github-alt:hover {
    opacity: 0.7;
}
.fa-envelope:hover {
    opacity: 0.7;
}

/* css footer * * * * * * * * * * * * * * * * */

.footer {
    border-top: 1px solid #b8b8b9;
    padding: 30px 15px 45px;
}

.footer__copyright {
    text-align: center;
    color: #b8b8b9;
    margin: 0 0 20px 0;
    font-size: 14px;
}

.footer__list {
    margin: 0 0 30px 0;
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 14px;
    color: #54585a;
    font-weight: 600;
    opacity: 0.75;
    text-transform: uppercase;
    line-height: 1.43;
}

.footer__link {
    text-decoration: none;
    color: inherit;
}
.footer__link:hover {
    color:#099d8d;
}

.footer__logo-container {
    text-align: center;
}

.footer__logo {
    width: 116px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * */ 
/* M E D I A Q U E R I E S  768* * * * * * * * * * */

@media all and (min-width: 768px) {

    .section-wrapper{
        padding: 0 45px;
    }

    /* css header * * * * * * * * * * * * * * * * */

    .header-container{
        width: 100%;
        background-color: #099d8d;
        padding: 0 15px;
    }
    .group-name{
        width: 40%;
        text-align: left;
        display: inline-block;
    }

    .header-container nav{
        float: right;
    }
    
    .nav-header{
        width: 350px;
        height: auto;
        line-height: 60px;
        background-color: #099d8d;
        padding: 0;
    }

    /* css hero */

    .rectangle {
        height: 80px;
        width: auto;
        opacity: 0.6;
        padding: 2%;
        margin-right: 281px;
        position: relative;
        transform: translate(-70%,-100%);
  
      }
      .lema{
       width: auto;
       height: 80px;
       margin-bottom: 3%;
      }

    /* css team * * * * * * * * * * * * * * * * */

    .team p{
        margin-bottom: 30px;
    }

    /* css strengths/weaknesses */

    .strengths-weaknesses .section-wrapper{
        display: flex;
        flex-direction: row;
    }

    .st-wk-text{
        margin: 0 15px 30px 15px;
    }

    /* css team * * * * * * * * * * * * * * * * */

    .team{
        text-align: center;
        padding: 0px 45px 0px 45px;
    }

    .team h2{
        color: #099d8d;
    }

    /* css about */

    .left {
        text-align: left;
        display: flex;
    }

    .right {
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        
    }
    .photo-personal {
        margin: 5% 2%;
    }

    .name-description {
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 2%;
       
    }
    .text-description {
        margin-left: 2%;
        margin-right: 2%;
    }
    .social-media {
        display: inline;
        margin: 10px 7px 30px 7px;
    }

    /* css footer */

    .footer__copyright {
        display:inline-block;
        text-align: left;
    }
    .footer__logo-container {
        text-align: left;
    }
    .footer__nav {
        float:right;
    }
    .footer__list {
        text-align: right;
        margin: 0px;
    }
    .footer__list li {
        margin-bottom: 14px;
    }

    .footer__list li:last-child {
        margin-bottom: 0;
    }

}

/* * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * */ 
/* M E D I A Q U E R I E S  1200 * * * * * * * * * */

@media all and (min-width: 1200px){

    .section-wrapper{
        padding: 0;
        max-width: 900px;
        margin: 0 auto;
    }

     /* css header * * * * * * * * * * * * * * * * */

    .header-container{
        padding: 0 140px;
    }

    /* css hero */

    .rectangle {
        opacity: 0.8;
        margin-right: 488px;
      }

    .lema{
        width: 514px;
        height: 60;
    }

    /* css team * * * * * * * * * * * * * * * * */

    .team{
        width: 600px;
        padding: 0px;
        margin: 0 auto;
    }

    .social-media{
        margin: 10px 10px 30px 10px;
    }

    /* css about */

    .about {
        margin: auto;
        max-width: 900px;
    }

    /* css footer */
    
    .footer {
        padding: 30px 135px 50px;
    }

}