<section id="about" class="about">
    <div class="section-wrapper">
        <h2 class="title-about">Quiénes somos</h2>
        <figure class="figure-center left container-web">
            <img src="./assets/images/marta.jpg" alt="Marta Cruces" title="Marta Cruces" class="photo-personal">
            <figcaption>
                <h3 class="name-description left">Marta Cruces</h3>
                <p class="text-description">Después de estudiar Historia del Arte he sido editora de libros de texto, profesora en un instituto y librera. Ahora, como programadora frontend, busco retarme a entrar en un mundo diferente en el que desarrollarme profesionalmente.
                </p>
                <div class=social-media> 
                <a href="https://twitter.com/MartaCrucesD1" target="_blank" title="Twitter" ><i class="fab fa-twitter" ></i></a> ·
                <a href="https://es.linkedin.com/in/marta-cruces-d%C3%ADaz-03402571" taprget="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a> ·
                <a href="https://github.com/Marta-Cruces" target="_blank" title="GitHub"><i class="fab fa-github-alt"></i></a> ·
                <a href="mailto:martacrucesdiaz@gmail.com" target="_blank" title="Email"><i class="fas fa-envelope" ></i></a>
                </div>      
            </figcaption>
        </figure>  
        <figure class="figure-center right">
            <img src="./assets/images/laura.jpg" alt="Laura Carril" class="photo-personal right">
            <figcaption>
                <h3 class="name-description right">Laura Carril</h3>
                <p class="text-description">Estudié Arquitectura y he trabajado en distintos sectores. En la programación web he encontrado la combinación perfecta tanto para mis habilidades como para mi personalidad: soy perseverante, creativa, me gusta trabajar en equipo y aprender cosas nuevas. Y sobre todo...¡Con muchas ganas y motivación!
                </p>
                <div class=social-media> 
                    <a href="https://twitter.com/carpanla?lang=es" target="_blank" title="Twitter" ><i class="fab fa-twitter" ></i></a> ·
                    <a href="https://www.linkedin.com/in/lauracarril/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a> ·
                    <a href="https://github.com/carpanla" target="_blank" title="GitHub"><i class="fab fa-github-alt"></i></a> ·
                    <a href="#" target="_blank" title="Email"><i class="fas fa-envelope" ></i></a>
                </div>
            </figcaption>
        </figure>
        <figure class="figure-center left">
            <img src="./assets/images/mariana.jpg" alt="Mariana Lerma" class="photo-personal">
            <figcaption>
                <h3 class="name-description left">Mariana Lerma</h3>
                <p class="text-description">Antes de programar diseñaba edificios, mobiliario, y durante 7 años me encargué de toda la producción escultural de una reconocida artista británica. ¡Me encantan los retos y me adapto a todo!
                </p>
                <div class=social-media> 
                    <a href="https://twitter.com/MaLerFer?lang=es" target="_blank" ><i class="fab fa-twitter" ></i></a> ·
                    <a href="https://www.linkedin.com/in/mariana-lerma/" target="_blank"><i class="fab fa-linkedin-in"></i></a> ·
                    <a href="#" target="_blank"><i class="fab fa-github-alt"></i></a> ·
                    <a href="mailto:marianalfr@gmail.com" target="_blank" title="Email"><i class="fas fa-envelope" ></i></a>                   
                </div>   
            </figcaption>
        </figure>
        <figure class="figure-center right">
                <img src="./assets/images/lucia.jpg" alt="Lucia Herrador" class="photo-personal">
                <figcaption>
                    <h3 class="name-description right">Lucia Herrador</h3>
                    <p class="text-description">De formación científica, he trabajado en diferentes escenarios dentro de los sectores biotecnológico, educativo y comercial. Mi sentido práctico y flexibilidad cognitiva me impulsaron hacia el desarrollo web. Inquieta y activa disfruto además de la música, el lindy hop y los desafíos.
                    </p>
                    <div class=social-media> 
                        <a href="https://twitter.com/LuciaHerr7" target="_blank" title="Twitter"><i class="fab fa-twitter" ></i></a> ·
                        <a href="https://www.linkedin.com/in/luc%C3%ADa-herrador-carrasco-bb178097/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a> ·
                        <a href="#" target="_blank" title="GitHub"><i class="fab fa-github-alt"></i></a> ·
                        <a href="mailto:luciaherradorcarrasco@gmail.com" target="_blank" title="Email"><i class="fas fa-envelope" ></i></a>                 
                    </div> 
                </figcaption>
        </figure>
        <figure class="figure-center left">
                <img src="./assets/images/ana.jpg" alt="Ana Sanchez" class="photo-personal">
                <figcaption>
                    <h3 class="name-description left">Ana Sánchez</h3>
                    <p class="text-description">Proactiva e ilusionante con capacidad de configurar entornos optimistas de trabajo. Me encanta la investigación de usuarios y formar parte de un equipo de trabajo creativo con motivación para el aprendizaje y la adquisición de nuevos conocimientos.
                    </p>
                    <div class=social-media> 
                        <a href="https://twitter.com/anasr_lab" target="_blank" title="Twitter" ><i class="fab fa-twitter" ></i></a> ·
                        <a href="https://www.linkedin.com/in/ana-sanchez-b620b414a/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a> ·
                        <a href="#" target="_blank" title="GitHub"><i class="fab fa-github-alt"></i></a> ·
                        <a href="mailto:snchz.rojo@gmail.com" target="_blank" title="Email"><i class="fas fa-envelope" ></i></a>                
                    </div>   
                </figcaption>
        </figure>
    </div>
</section>
