<footer class="footer">
    <div class="section-wrapper">
        <p class="footer__copyright">Skylabers © 2019</p>
        <nav class="footer__nav">
            <ul class="footer__list">
                <li><a href="#team" class="footer__link">EQUIPO</a></li>
                <li><a href="#about" class="footer__link">QUIÉNES SOMOS</a></li>
                <li><a href="#" class="footer__link">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="footer__logo-container">
            <a href="https://adalab.es" target="_blank"><img class="footer__logo" src="./assets/images/logo-adalab.svg" alt="Adalab Logo"></a>
        </div>
    </div>
</footer>