<footer class="footer">
    <div class="section-wrapper footer__grid">
        <p class="footer__copyright">Skylabers © 2019</p>
        <nav class="footer__nav">
            <ul class="footer__list">
                <li><a href="./index.html#team" class="footer__link">Equipo</a></li>
                <li><a href="./index.html#about" class="footer__link">Quiénes somos</a></li>
                <li><a href="./contact.html" class="footer__link" target="_blank">Contacto</a></li>
            </ul>
        </nav>
        <div class="footer__logo-container">
            <a href="https://adalab.es" target="_blank"><img class="footer__logo" src="./assets/images/logo-adalab.svg" alt="Adalab Logo"></a>
        </div>
    </div>
</footer>