<section id="team" class="team">
    <div class="section-wrapper">
        <h2>Equipo</h2>
        <p>Somos cinco mujeres diferentes, con nuestra propia trayectoria profesional que han decidido darle un vuelco y adentrarse en el mundo del desarrollo front-end.</p>

        <p>Somos Skylab por la primera estación espacial con la que trabajó Margaret Hamilton dirigiendo el desarrollo. Y Skylabers porque Adalab nos ofrece esta oportunidad de convertirnos en nuestra mejor versión.</p>

        <div class="diamond"></div>
    </div>
</section>

<section class="strengths-weaknesses">
    <div class="section-wrapper">
        <div class="strengths">
            <h2 class="title-sw">Fortalezas</h2>
            <p class="st-wk-text">Somos un equipo interdisciplinar que se atreve a probarse en un entorno de continuo cambio. El apoyo entre nosotras es algo fundamental para la buena marcha de las Skylabers. Somos perseverantes para que los proyectos salgan adelante con un buen ambiente de trabajo.</p>     
        </div> 
        <div class="weaknesses">
            <h2 class="title-sw">Oportunidades</h2>
            <p class="st-wk-text">Aunque estemos familiarizándonos aún con el desarrollo front-end, todos los días trabajamos para mejorar nuestras habilidades, motivadas por un deseo de mejora continua y aprendizaje. El reto de trabajar bajo presión provoca que desarrollemos nuestro trabajo de forma proactiva y en equipo.</p>
        </div>
    </div>
</section>