@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:300,400&display=swap");/* MEDIA QUERIES *//* DEVICE WIDTH - media queries breakpoints *//* FONTS *//* COLORS */.header-container {
  opacity: 0.8;
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.header-container .group-name {
  width: 100%;
  height: 60px;
  background-color: #099d8d;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.header-container .group-name a {
  display: block;
  height: 100%;
}

.header-container .group-name a .skylogo {
  width: 180px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../images/logo-skylabers-anim.svg);
  -webkit-animation: logo-anim 1s steps(10) infinite;
  animation: logo-anim 1s steps(10) infinite;
}

.header-container .nav-header {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  background-color: #14d9c4;
  font-family: "Rubik", sans-serif;
  color: white;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-container .nav-header a {
  color: white;
}

.header-container .nav-header a:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.footer {
  border-top: 1px solid #b8b8b9;
  padding: 30px 15px 45px;
}

.footer .footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 45px;
  grid-template-areas: "copy copy" "logo logo" "menu menu";
}

.footer .footer__copyright {
  text-align: center;
  color: #b8b8b9;
  margin: 0 0 20px 0;
  font-size: 14px;
}

.footer .footer__nav .footer__list {
  margin: 0 0 30px 0;
  text-align: center;
  padding: 0;
  font-size: 14px;
  color: #54585a;
  font-weight: 600;
  opacity: 0.75;
  text-transform: uppercase;
  line-height: 1.43;
}

.footer .footer__nav .footer__list .footer__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.footer .footer__nav .footer__list .footer__link:hover {
  color: #099d8d;
  -webkit-animation-name: wink;
  animation-name: wink;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.footer .footer__logo-container {
  text-align: center;
}

.footer .footer__logo-container .footer__logo {
  width: 116px;
}

.wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 50px 0 0 0;
}

.wrapper-form .label {
  display: block;
  color: #54585a;
  padding: 10px 10px 10px 0;
}

.wrapper-form .label .asterisk {
  color: #14d9c4;
}

.wrapper-form .input {
  height: 45px;
  width: 290px;
  border: inside 1px;
}

.wrapper-form .input.input--email::-webkit-input-placeholder {
  padding-left: 15px;
  font-size: 16px;
}

.wrapper-form .input.input--email:-ms-input-placeholder {
  padding-left: 15px;
  font-size: 16px;
}

.wrapper-form .input.input--email::-ms-input-placeholder {
  padding-left: 15px;
  font-size: 16px;
}

.wrapper-form .input.input--email::placeholder {
  padding-left: 15px;
  font-size: 16px;
}

.wrapper-form .container-email {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  border: inside 1px;
}

.wrapper-form .container-phone {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: inside 1px;
}

.wrapper-form .message {
  width: 290px;
  border: inside 1px;
  padding: 10px 10px 10px 0;
}

.wrapper-form .button {
  background-color: #099d8d;
  height: 45px;
  width: 290px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-transition: background-color ease 1s;
  -o-transition: background-color ease 1s;
  transition: background-color ease 1s;
}

.wrapper-form .button:hover {
  cursor: pointer;
  background-color: #14d9c4;
  border: none;
}

.wrapper-form ::-webkit-input-placeholder {
  color: #b8b8b9;
  padding-left: 15px;
}

.wrapper-form :-ms-input-placeholder {
  color: #b8b8b9;
  padding-left: 15px;
}

.wrapper-form ::-ms-input-placeholder {
  color: #b8b8b9;
  padding-left: 15px;
}

.wrapper-form ::placeholder {
  color: #b8b8b9;
  padding-left: 15px;
}

.hero {
  width: 100%;
  height: 527px;
}

.hero .imag {
  width: 100%;
  height: 481px;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

.hero .rectangle {
  background-color: white;
  height: 90px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  -webkit-animation-name: fade-in-to1;
  animation-name: fade-in-to1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hero .rectangle .claim {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.hero .rectangle .claim:first-child {
  font-style: italic;
}/* GOOGLE FONTS */.form-hero {
  width: 100%;
  height: 481px;
  background-image: url("../images/hero-contact.jpg");
  background-size: cover;
  background-position: center;
}

.contact-description {
  text-align: center;
}

.contact-description h2 {
  color: #099d8d;
  text-transform: uppercase;
  margin-top: 65px;
}

.contact-description p {
  margin-bottom: 20px;
  color: #54585a;
}

.contact-description p:last-child {
  font-size: 12px;
}

.contact-description p span {
  color: #14d9c4;
}/* T E A M * * * * * * * * * * * * * * * * * */.team {
  text-align: center;
}

.team h2 {
  color: #099d8d;
  text-transform: uppercase;
}

.team p {
  font-size: 16px;
  color: #54585a;
  line-height: 1.5;
  margin-bottom: 0px;
}

.team .diamond {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 0px;
  left: 50%;
  background-color: white;
  -webkit-transform: translate(-50%, 15px) rotate(45deg);
  -ms-transform: translate(-50%, 15px) rotate(45deg);
  transform: translate(-50%, 15px) rotate(45deg);
}/* S T R E N G T H S / W E A K N E S S E S * * * * * * * * * * * * * * * * * */.strengths-weaknesses {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #dadada52;
  text-align: center;
}

.strengths-weaknesses .title-sw {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #099d8d;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.strengths-weaknesses .st-wk-text {
  padding-bottom: 15px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  font-size: 16px;
  margin: 0px;
  line-height: 1.5;
}/* A B O U T * * * * * * * * * * * * * * * * * */.about {
  padding-top: 20px;
 /*---Title---*/ /*---Global container---*/;
}

.about .title-about {
  color: #099d8d;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.about .figure-center {
  text-align: center;
  margin: 0 0;
 /*---Member profiles---*/ /*---Social media---*/;
}

.about .figure-center.left.container-web {
  margin: 0 0;
}

.about .figure-center .photo-personal {
  width: 200px;
  height: 200px;
  border: 4px solid rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  text-align: center;
  margin-top: 4%;
}

.about .figure-center .name-description {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
  font-weight: 400;
}

.about .figure-center .text-description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #54585a;
  margin-left: 4%;
  margin-right: 4%;
  line-height: 1.5;
}

.about .figure-center .social-media {
  max-width: 150px;
  text-align: center;
  margin: 10px auto 30px auto;
}

.about .figure-center .social-media .fas,.about .figure-center .social-media .fab {
  display: inline;
 /*font-family: 'Font Awesome 5 Pro';*/
  font-size: 20px;
  color: #099d8d;
  text-align: center;
  margin: 0 4px;
}

.about .figure-center .social-media .fas:hover,.about .figure-center .social-media .fab:hover {
  opacity: 0.7;
}/* GENERAL * * * * * * * * * * * * * * * * */body {
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3 {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.section-wrapper {
  padding: 0 20px;
}

@media all and (min-width: 768px) {
  .header-container {
    width: 100%;
    background-color: #099d8d;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-container .group-name {
    width: 40%;
    text-align: left;
    display: inline-block;
  }

  .header-container .group-name a .skylogo {
    left: 0px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .header-container .nav-header {
    width: 350px;
    height: auto;
    line-height: 60px;
    background-color: #099d8d;
    padding: 0;
  }

  .footer .footer__copyright {
    text-align: left;
    grid-area: copy;
  }

  .footer .footer__nav {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .footer .footer__nav .footer__list {
    text-align: right;
    margin: 0px;
    grid-area: menu;
  }

  .footer .footer__nav .footer__list li {
    margin-bottom: 14px;
  }

  .footer .footer__logo-container {
    text-align: left;
    grid-area: logo;
  }

  .wrapper-form .input {
    height: 45px;
    width: 442px;
    border: inside 1px;
  }

  .wrapper-form .input.input--email::-webkit-input-placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .input.input--email:-ms-input-placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .input.input--email::-ms-input-placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .input.input--email::placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .container-email {
    height: 45px;
    width: 442px;
    margin-bottom: 39px;
    border: inside 1px;
  }

  .wrapper-form .container-phone {
    height: 45px;
    width: 442px;
    margin-bottom: 43px;
    border: inside 1px;
  }

  .wrapper-form .message {
    height: 105px;
    width: 442px;
    border: inside 1px;
  }

  .wrapper-form .button {
    height: 45px;
    width: 206px;
    border: inside 1px;
    margin-left: 53%;
  }

  .hero .rectangle {
    height: 80px;
    width: auto;
    opacity: 0.6;
    padding: 2%;
    margin-right: 281px;
    position: relative;
    -webkit-transform: translate(-70%, -100%);
    -ms-transform: translate(-70%, -100%);
    transform: translate(-70%, -100%);
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
  }

  .hero .rectangle .claim {
    width: auto;
    height: 80px;
    margin-bottom: 3%;
  }

  .contact-description {
    padding: 0px 45px 0px 45px;
  }

  .team {
    padding: 0px 45px 0px 45px;
  }

  .team p {
    margin-bottom: 30px;
  }

  .strengths-weaknesses .section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .strengths-weaknesses .st-wk-text {
    margin: 0 15px 30px 15px;
  }

  .about .figure-center .photo-personal {
    margin: 5% 2%;
  }

  .about .figure-center .name-description {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .about .figure-center .text-description {
    margin-left: 2%;
    margin-right: 2%;
  }

  .about .figure-center .social-media {
    display: inline;
    margin: 10px 7px 30px 7px;
  }

  .about .left {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about .right {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .section-wrapper {
    padding: 0 45px;
  }
}

@media all and (min-width: 768px) and (min-width: 768px) {
  .footer .footer__nav .footer__list li:last-child {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1200px) {
  .header-container {
    padding: 0 140px;
  }

  .footer {
    padding: 30px 135px 50px;
  }

  .wrapper-form .label.label--email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .wrapper-form .label.label--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -11%;
  }

  .wrapper-form .input {
    height: 45px;
    width: 162px;
    border: inside 1px;
  }

  .wrapper-form .input.input--name {
    width: 600px;
    margin-bottom: 3%;
  }

  .wrapper-form .input.input--email {
    width: 395px;
  }

  .wrapper-form .input.input--email::-webkit-input-placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .input.input--email:-ms-input-placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .input.input--email::-ms-input-placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .input.input--email::placeholder {
    padding-left: 15px;
    font-size: 16px;
  }

  .wrapper-form .container-email {
    height: 45px;
    width: 395px;
    border: inside 1px;
  }

  .wrapper-form .container-phone {
    margin-left: 73%;
    margin-top: -12%;
    margin-bottom: 46px;
    height: 45px;
    width: 162px;
    border: inside 1px;
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .wrapper-form .message {
    height: 105px;
    width: 600px;
    border: inside 1px;
  }

  .wrapper-form .button {
    height: 45px;
    width: 278px;
    border: inside 1px;
    margin-left: 54%;
  }

  .hero .rectangle {
    opacity: 0.8;
    margin-right: 488px;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
  }

  .hero .rectangle .claim {
    width: 514px;
    height: 60;
  }

  .contact-description {
    padding: 0px;
    margin: 0 auto;
  }

  .team {
    width: 600px;
    padding: 0px;
    margin: 0 auto;
  }

  .about {
    margin: auto;
    max-width: 900px;
  }

  .about .figure-center .social-media {
    margin: 10px 10px 30px 10px;
  }

  .section-wrapper {
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
  }
}

@-webkit-keyframes logo-anim {
  from {
    background-position-y: 0px;
  }

  to {
    background-position-y: -400px;
  }
}

@keyframes logo-anim {
  from {
    background-position-y: 0px;
  }

  to {
    background-position-y: -400px;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes wink {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes wink {
  from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes fade-in-to1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-to1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
