

.wrapper-form{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    font-family: $basic-font;
    margin: 0;
    padding: 0;
    
   .label{
        display: block;
        color: $p-font-color;
        padding: 10px 10px 10px 0;
        .asterisk {
            color: $secondary-color;
        }
        @include media($desktop){
            &.label--email{
                display: flex;
                flex-direction: row;
            }
            &.label--phone{
                display: flex;
                flex-direction: column;
                margin-top: -11%;
            }
        }
    }

    .input {
        height: 45px;
        width: 290px;
        border: inside 1px;
        &.input--email{
            &::placeholder{
                color: $p-font-color;
                padding-left:15px;
                font-size: 16px;
            }
        }
        @include media($tablet){
            height: 45px;
            width: 442px;
            border: inside 1px;
            &.input--email{
                &::placeholder{
                    color: $p-font-color;
                    padding-left:15px;
                    font-size: 16px;
                }
            }
        }
        @include media($desktop){
            height: 45px;
            width: 162px;
            border: inside 1px;
            &.input--name{
                width: 600px;
                margin-bottom: 3%;
            }
            &.input--email{
                width: 395px;
                &::placeholder{
                    color: $p-font-color;
                    padding-left:15px;
                    font-size: 16px;
                }
            }
        }
    }
    .container-email{
        box-sizing: border-box;
        font-size: 16px;
        border: inside 1px;
        @include media($tablet){
            height: 45px;
            width: 442px;
            margin-bottom: 39px;
            border: inside 1px;
        }
        @include media($desktop){
            height: 45px;
            width: 395px;
            border: inside 1px;
        }
    }
    .container-phone {
        box-sizing: border-box;
        border: inside 1px;
        @include media($tablet){
            height: 45px;
            width: 442px;
            margin-bottom: 43px;
            border: inside 1px;
        }
        @include media($desktop){
            margin-left: 73%;
            margin-top: -12%;
            margin-bottom: 46px;
            height: 45px;
            width: 162px;
            border: inside 1px;
            padding-top: 6px;
            padding-bottom: 10px;
        }
    }
    .message{
        width: 290px;
        border: inside 1px;
        padding: 10px 10px 10px 0;
        @include media($tablet){
            height: 105px;
            width: 442px;
            border: inside 1px;
            }
        @include media($desktop){
            height: 105px;
            width: 600px;
            border: inside 1px;
            }
        }
    .button{
        background-color: $main-color;
        height: 45px;
        width: 290px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        display: block;
        margin-top: 30px;
        @include media($tablet){
            height: 45px;
            width: 206px;
            border: inside 1px;
            margin-left: 53%;
        }
        @include media($desktop){
            height: 45px;
            width: 278px;
            border: inside 1px;
            margin-left: 54%;
            }
    }
    ::placeholder{
        color: $p-faded-color;
        padding-left:15px ;
    } 
}









