/* DEVICE WIDTH - media queries breakpoints */
$tablet: 768px;
$desktop: 1200px;

/* FONTS */
$defaultFontSize: 16;
$title-font: 'Rubik', sans-serif;
$basic-font: 'Open Sans', sans-serif;

/* COLORS */
$main-color: #099d8d;
$secondary-color: #14d9c4;
$p-font-color: #54585a;
$p-faded-color: #b8b8b9;